.audiojam-logo {
  width: 100%;
  max-width: 600px;
}

#header {
	border-bottom: 0px;
	box-shadow: none;
}
.banner-quote {
  color: #999;
  display: inherit;
  font-size: medium;
}

.sponsors img {
  height: 75px;
  margin-right: 20px;
}

.sponsors a,
.not-underlined {
  border-bottom: none;
}

.sound-toggle {
	position: fixed;
	left: 10px;
	top: 10px;
	z-index: 1000;
}

.sound-toggle a {
	border-bottom: 0px;
}